# NextAuth
NEXTAUTH_SECRET=supersecret
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="COOLNAME"

EMAIL_FROM_DOMAIN="name.domain.tld"
EMAIL_SERVER_PASSWORD="resend_api_key"

# DB URL
DATABASE_URL=postgresql://user:pass@host:port/dbname